{% extends 'base.html' %}
{% block content %}



<!-- form-section -->
<section class="contact-section" style="padding-top:50px;" id="predict1">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="title-box centred col-9">
                <div class="sec-title">About</div>
            </div>
            <div class="col-9">
                <p>
                    Web ini dibuat untuk keperluan tugas kegiatan praktikum Pembelajaran Mesin Modul 6.
                    Sistem ini berfungsi untuk mendeteksi adanya jenis penyakit pada tumbuhan padi dibekali dengan 
                    Machine Learning menggunakan metode klasifikasi gambar dengan 3 kelas yaitu Leaf Blight, Brown Spot, Leaf Smut.
                </p>
                <p>
                    By : Raffi Ainul Afif, Hanif Nurfauzi <br>
                    NIM : 201810370311080, 201810370311084
                </p>
                
            </div>
        </div>
    </div>
</section>
<!-- form-section end -->

{% endblock %}