{% extends 'base.html' %}
{% block content %}



<!-- form-section -->
<section class="contact-section" style="padding-top:50px;" id="predict1">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="title-box centred col-12">
                <div class="sec-title">Introduction</div>
            </div>
            <div class="col-9">
                <p>
                    Rice Leaf Diseases Detection adalah Sistem untuk mendeteksi adanya penyakit Pada Tanaman Padi
                    menggunakan Machine Learning dengan metode CNN dengan model yang disediakan ada dua yaitu 
                    Alexnet, DenseNet, dan Dua Model CNN yang dibuat sendiri yang diuji coba berdasarkan dataset yang dengan dua 
                    kelas atau kesimpulan yaitu Leaf Smut, Brown Spot, Leaf Blight.                   
                </p>
            </div>
        </div>
    </div>
</section>
<!-- form-section end -->

{% endblock %}