{% extends 'base.html' %}
{% block content %}


<!-- form-section -->
<section class="contact-section centred" style="padding-top:50px;" id="predict1">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="title-box centred">
                <div class="sec-title">Select an Sample Image to Detect</div>
            </div>
            <div class="col-9 centred">
                <!-- <form class="login100-form validate-form" action="/predict" method=post enctype=multipart/form-data> -->
                <div class="row" style=" width: 50%; margin: auto; padding: 15px;">
                    <div class="column">
                        <div class="form-check form-check-inline">
                            <p style="font-weight: bold; color: black;">Select Model : </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-check form-check-inline">
                            <select name="select_model1" onchange="changeFunc();" id="selected_model">
                                <option value='Alexnet'>AlexNet Model </option>
                                <option value='DenseNet201'>DenseNet201 Model </option>
                                <option value='ModelCNN1'>Model CNN1 Model </option>
                                <option value='ModelCNN2'>ModelCNN2 Model </option>
                            </select>
                        </div>
                    </div>
                </div>
                <table style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb1.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb1.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb2.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb2.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb3.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb3.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb4.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb4.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb5.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb5.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb6.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb6.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb7.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb7.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb8.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb8.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb9.jpg" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb9.jpg" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="lb10.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/lb10.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="bs1.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/bs1.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="bs2.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/bs2.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="bs3.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/bs3.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="bs4.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/bs4.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="bs5.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/bs5.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="ls1.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/ls1.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="ls2.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/ls2.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="ls3.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/ls3.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="ls4.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/ls4.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline" action="/predict_select_image" method="post">
                                    <input type="hidden" class="select_model" name="select_model" id="select_model"
                                        value="pureModel" id="">
                                    <input type="hidden" name="file" id="file" value="ls5.JPG" id="">
                                    <button type="submit" class="btn inline m-1"
                                        style="width:150px; height: 150px; border:none; padding:0px;">
                                        <img src="../static/main/images/sample_image/r5.JPG" alt="Snow"
                                            style="width:150px; height: 150px;" value="gunung">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <!-- <input type="button" style="background:url(../static/main/images/sample_image/IM-0001-0001.jpeg);" onclick="alert('clicked')"/>
                    <input type="submit" value="" style="background-image: url(../static/main/images/sample_image/IM-0001-0001.jpeg); border:none; background-repeat:no-repeat;background-size:100% 100%;"> -->
                <!-- <img id="image-preview" alt="image preview" src="#" style="width: 50%;" /> -->
                <!-- <div class="container-login100-form-btn">
                    <div class="wrap-input100 validate-input" data-validate="Image file is required" id="input">
                        <input class="input100" id="image-source" name="file" onchange="previewImage();" type="file"
                            alt="Input Image" accept="image/jpeg,image/jpg,image/png">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <button class="btn btn-dark" type="submit">
                        Execute
                    </button>
                </div> -->
                <!-- </form> -->
            </div>
        </div>
    </div>
</section>
<script>
    function changeFunc() {
        var selectBox = document.getElementById("selected_model");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var els = document.getElementsByClassName("select_model");
        for (var i = 0; i < els.length; i++) {
            els[i].value = selectedValue;
        }
    }
</script>
<!-- form-section end -->

{% endblock %}